.bg-light-navy {
    background-color: #02354e;
    color: #EEEEEE;
}

.side-bar-sticky {
    position: sticky;
    top: 0;
}

.w-15 {
    width: 50px;
}

.bg-navy {
    background-color: #05142c;
    color: #EEEEEE;
}